* {
  font-family: "Baloo 2";
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: $background-image-desk;
  background-size: cover;
  background-position: center top;
}

// MOBILE
@media screen and (max-width: 600px) {
  // Seus estilos para dispositivos móveis aqui
  body {
    background-position: center top;
    background-size: cover;
    background-image: $background-image-mobile;
  }
}
