section.section-01 {
  height: 830px;
  width: 100%;
  padding: 80px 0% 0px 16px;
  box-sizing: border-box;
  position: relative;

  animation: appear 1s;

  @media screen and (max-width: 600px) {
    height: 864px;
  }

  .perspective {
    width: 100%;
    position: absolute;
    top: 134px;
    left: 0;
    z-index: -1;
    overflow: hidden;

    @media screen and (max-width: 600px) {
      top: 530px;
      height: auto;
      width: 100%;
    }

    img {
      width: 1884px;
      height: auto;
      object-fit: cover;

      @media screen and (max-width: 600px) {
        width: 880px;
      }
    }
  }

  .photoshop {
    position: absolute;
    top: 76px;
    left: 226px;
    z-index: -1;
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;

    @media screen and (max-width: 600px) {
      left: 248px;
      top: 45px;
      width: 42px;
    }
  }

  .dev {
    position: absolute;
    top: 267px;
    left: 128px;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .figma {
    position: absolute;
    top: 446px;
    left: 139px;
    z-index: -1;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;

    @media screen and (max-width: 600px) {
      top: 100px;
      width: 55px;
      left: 292px;
    }
  }

  .illustrator {
    position: absolute;
    top: 776px;
    left: 200px;

    @media screen and (max-width: 600px) {
      top: 188px;
      left: 333px;
      width: 42px;
    }
  }

  .html {
    position: absolute;
    top: 1040px;
    left: 91px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    .box-flex {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: left;
      width: 408px;
      margin-bottom: 48px;

      @media screen and (max-width: 600px) {
        width: 100%;
        margin-bottom: 0px;
      }

      .person {
        width: 102px;
        margin-bottom: 16px;
        animation: appear-left 1s, scale 1s;

        @media screen and (max-width: 600px) {
          width: 58px;
          margin-bottom: 4px;
        }
      }

      .main-content {
        padding: 20px 0 0 21px;
        color: $white;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        background-image: url(../imgs/cursor-rectangle.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 155px;

        animation: appear-left 1s, scale 1s;

        @media screen and (max-width: 600px) {
          font-size: 16px;
          width: 240px;
          padding: 8px 8px;
          height: 86px;
        }

        .name {
          font-size: 56px;
          font-weight: 800;
          line-height: 64px;
          background: -webkit-linear-gradient(
            114deg,
            #fb5f9e 0%,
            #4f7ddc 50.52%,
            #a6e6ff 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @media screen and (max-width: 600px) {
            font-size: 32px;
            line-height: 36px;
          }
        }
      }

      .text-button {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media screen and (max-width: 600px) {
          gap: 16px;
        }

        h2 {
          animation: appear-left 2s;
          color: $white;
          font-size: 28px;
          font-weight: 500;
          line-height: 32px;

          @media screen and (max-width: 600px) {
            font-size: 16px;
            line-height: 20px;
          }
        }
        .cta {
          animation: appear-left 4s;
          max-width: 200px;
          background: $linear-pink-blue;
          display: flex;
          padding: 12px 64px;
          justify-content: center;
          align-items: center;
          border-radius: 12px;
          font-size: 20px;
          text-decoration: none;
          font-weight: 500;
          line-height: 24px;
          color: $neutral-90;
          transition: all 0.3s ease;
        }
        .cta:hover {
          background: $linear-pink-blue-hover;
          box-shadow: 0 0 0 3px rgba(76, 170, 255, 0.3);
          transition: 0.2s ease-in-out;
        }
      }
    }
    .light-bg {
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: -1;
      width: 100%;

      animation: appear-right 1s;

      @media screen and (max-width: 600px) {
        top: 424px;
        width: 100%;
      }
    }

    .character {
      margin-top: 40px;
      animation: appear-right 1s, scale 1s;
      animation: scale-character 3s infinite;

      @media screen and (max-width: 600px) {
        width: 80%;
        margin-top: 16px;
      }
    }
  }
}

// ANIMAÇÕES
@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear-left {
  from {
    opacity: 0;
    translate: -70px 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear-right {
  from {
    opacity: 0;
    translate: 100px 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scale-character {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.015);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}
