
* {
font-family: 'Baloo 2';
padding: 0;
border: 0;
margin: 0;
box-sizing: border-box;
}

body {
    background-image: $background-image-desk;
    background-size: cover;
    background-position: center center;
}
