section.section-02 {
  padding: 0px 16px;
  .container {
    display: flex;
    height: 100%;
    align-items: center;

    .box-flex {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 100%;
      margin-bottom: 96px;

      .tabs {
        display: flex;
        gap: 16px;
        width: 100%;

        .tab {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          width: 100%;
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          color: $white;

          .line {
            width: 100%;
            height: 3px;
            background: rgba(255, 255, 255, 0.15);
          }
        }

        .tab:hover {
          cursor: pointer;

          .line {
            width: 100%;
            height: 3px;
            background: $linear-pink-blue-hover;
            border-radius: 100px;
          }
        }

        .tab-selected {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          width: 100%;
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          color: $white;

          .line {
            width: 100%;
            height: 3px;
            background: $linear-pink-blue-hover;
            border-radius: 100px;
          }
        }
      }

      #content-experience {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      #content-education {
        display: none;
      }

      .company {
        display: flex;
        gap: 24px;

        h1 {
          margin-top: 12px;
          font-size: 20px;
          line-height: 24px;
          font-weight: 700;
          color: $white;
        }

        img {
          height: 48px;
        }

        .content-company {
          .position {
            font-size: 16px;
            line-height: 20px;
            color: #9ad8fa;
            margin-top: 8px;
          }
        }

        p {
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.6);
        }

        ul {
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.6);
        }
      }

      .courses {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;

        h1 {
          margin-top: 12px;
          font-size: 20px;
          line-height: 24px;
          font-weight: 700;
          color: $white;
        }

        img {
          height: 48px;
        }

        .content-courses {
          .position {
            font-size: 16px;
            line-height: 20px;
            color: #9ad8fa;
            margin-top: 8px;
          }
        }

        p {
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.6);
        }

        ul {
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.6);
        }
      }

      .softwares {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;

        h1 {
          margin-top: 12px;
          font-size: 20px;
          line-height: 24px;
          font-weight: 700;
          color: $white;
        }

        img {
          height: 48px;
        }

        .content-softwares {
          .position {
            font-size: 16px;
            line-height: 20px;
            color: #9ad8fa;
            margin-top: 8px;
          }

          .level {
            width: 220px;
            height: 16px;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 24px;
            margin-top: 8px;

            div {
              width: 100%;
              height: 100%;
              background: $linear-pink-blue-hover;
              border-radius: 24px;
            }
          }
        }

        p {
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.6);
        }

        ul {
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}
